
<canvas id="canvas"></canvas>


    <section id="loginRegister">
        <section id="loginSection">
            <div class="tittle_is">
                <h1 class="fs-5">INICIAR SESIÓN</h1>
            </div>
            <div>
                <label class="fs-4" for="login">Usuario</label>
                <input [(ngModel)]="usuario.Usuario" class="placeholders" type="text"/>
                <label class="fs-4" for="password">Contraseña</label>
                <input [(ngModel)]="usuario.password" class="placeholders" type="password"/>
                <div class="button_is">
                    <button (click)="login()" class="placeholders">Iniciar Sesión</button>
                </div>
            </div>
        </section>
    </section>

